.backButton {
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: none;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.backButton:hover {
    background-color: rgba(15, 20, 25, 0.1);
}